body {
    background-image: url('../imagenes/fondo_login.png');
    background-repeat: repeat;
    background-size: auto; /* Muestra la imagen con su tamaño original */
    background-position: center center;
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Capa oscura sobre toda la página */
    z-index: -1;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.92); /* Fondo blanco con transparencia */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilo para los campos de texto, contraseña y select */
input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border-color: #3498db;
    outline: none;
}

/* Estilo para el botón de registro */
button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Estilo para el select */
select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
}

select:focus {
    border-color: #3498db;
}
